<div class="container">
    <div class="section"></div>
    <div class="row">
        <div class="col s12 m6 l1"></div>
        <div class="col s12 m4 l10">
            <div id="prefixes" class="card card card-default scrollspy">
                <div class="card-content">
                    <h3 class="card-title center">Editar Vuelo</h3>

                    <form [formGroup]="fgValidacion"  (ngSubmit)="edit()">
                        <input formControlName="id" type="hidden" class="validate">

                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">event</i>
                                <input formControlName="fechaInicio" type="date" class="validate">
                                <label class="active" for="fechaInicio">Fecha de inicio</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">schedule</i>
                                <input formControlName="horaInicio" type="text" class="validate">
                                <label class="active" for="horaInicio">Hora de inicio</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">event</i>
                                <input formControlName="fechaFin" type="date" class="validate">
                                <label class="active" for="fechaFin">Fecha fin</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">schedule</i>
                                <input formControlName="horaFin" type="text" class="validate">
                                <label class="active" for="horaFin">hora fin</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">airline_seat_recline_normal</i>
                                <input formControlName="asientosVendidos" type="number" class="validate">
                                <label class="active" for="asientosVendidos">Asientos vendidos</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <div><label class="active" for="tipo">Nombre del piloto</label></div>
                                <select class="browser-default" formControlName="nombrePiloto" type="text">
                                    <option class="validate" value="" disabled selected>Seleccione el nombre del piloto
                                    </option>
                                    <option class="validate" value="Michael Schumacher">Michael Schumacher</option>
                                    <option class="validate" value="Tom F. Hazell">Tom F. Hazell</option>
                                    <option class="validate" value="Fernando Alonso">Fernando Alonso</option>
                                    <option class="validate" value="Paul Baumer">Paul Baumer</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <div><label class="active" for="tipo">Ruta del vuelo</label></div>
                                <select class="browser-default" formControlName="ruta">
                                    <option class="validate" value="" disabled selected>Seleccione la ruta --> Ruta
                                    </option>
                                    <option class="validate" *ngFor="let ruta of listadoRutas"
                                        value="Origen: {{ruta.origen}} --> Destino: {{ruta.destino}}">
                                        Origen: {{ruta.origen}} --> Destino: {{ruta.destino}}</option>
                                </select>
                            </div>
                        </div>


                        <div class="row">
                            <div class="input-field col s12">
                                <button [disabled]="!fgValidacion.valid"
                                    class="btn-large deep-purple darken-2 waves-effect waves-light right" type="submit"
                                    name="action">Enviar
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l1">

        </div>
    </div>
</div>