<div class="container">
    <div class="section"></div>
    <div class="row">
        <div class="col s12 m6 l3"></div>
        <div class="col s12 m4 l6">
            <div id="prefixes" class="card card card-default scrollspy">
                <div class="card-content">
                    <h3 class="card-title center">Editar Usuario</h3>

                    <form [formGroup]="fgValidacion" (ngSubmit)="edit()">
                        <input formControlName="id" type="hidden" class="validate">

                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input formControlName="nombre" type="text" class="validate">
                                <label class="active" for="nombre">Nombre</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">person</i>
                                <input formControlName="apellido" type="text" class="validate">
                                <label class="active" for="apellidos">Apellidos</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">call</i>
                                <input formControlName="telefono" type="text" class="validate">
                                <label class="active" for="telefono">Telefono</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                <input formControlName="correo" type="email" class="validate">
                                <label class="active" for="correo">Correo</label>
                                <span class="helper-text" data-error="Correo invalido"
                                    data-success="right">Estado</span>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <button [disabled]="!fgValidacion.valid"
                                        class="btn-large deep-purple darken-2 waves-effect waves-light right"
                                        type="submit" name="action">Enviar
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">

        </div>
    </div>
</div>