<div class="container">
    <div class="section"></div>
    <div class="row">
        <div class="col s12 m6 l1">

        </div>

        <div class="col s12 m4 l10">
            <div id="prefixes" class="card card card-default scrollspy">
                <div class="card-content">
                    <h3 class="card-title center">Editar Ruta</h3>

                    <form [formGroup]="fgValidacion"  (ngSubmit)="edit()">
                        <input formControlName="id" type="hidden" class="validate">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">schedule</i>
                                <input formControlName="tiempoEstimado" type="text" class="validate">
                                <label class="active" for="tiempoEstimado">Tiempo Estimado</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">location_on</i>
                                <input formControlName="origen" type="text" class="validate">
                                <label class="active" for="origen">Origen</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">location_on</i>
                                <input formControlName="destino" type="text" class="validate">
                                <label class="active" for="destino">Destino</label>
                            </div>
                        </div>
                        

                        <div class="row">
                            <div class="input-field col s12">
                                <button [disabled]="!fgValidacion.valid"
                                    class="btn-large deep-purple darken-2 waves-effect waves-light right" type="submit"
                                    name="action">Enviar
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l1">

        </div>
    </div>
</div>